spring:
  application:
    name: app
  main:
    lazy-initialization: true
  devtools:
    restart:
      enabled: true
    add-properties: true
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_portal
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  messages:
    basename: messages
  security:
    user:
      name: admin
      password: admin

springdoc:
  api-docs:
    enabled: false
    path: /v3/api-docs
  swagger-ui:
    enabled: false

logging:
  level:
    root: INFO
    org:
      flywaydb: DEBUG